<a href="https://colab.research.google.com/github/manishrathod2003/Machine-Learning/blob/main/Day3_27feb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Cleaning Using Pandas**

Data Types:-
1. Categorical: Nominal & Ordinal
2. Numerical: Discrete & Continuous - Interval & Ratio

Data Cleaning:
1. Treating Null Values
2. Duplicates
3. Wrong Format of data
4. Handling Wrong Data(Outliers)

In [ ]:
import pandas as pd
df=pd.read_excel('/content/dirtydata.xlsx')
print(df.head())

   Duration         Date  Pulse  Maxpulse  Calories Gender
0        60  2020/12/01'    110       130     409.1      M
1        60  2020/12/02'    117       145     479.0      F
2        60  2020/12/03'    103       135     340.0      F
3        45  2020/12/04'    109       175     282.4      F
4        45  2020/12/05'    117       148     406.0    NaN

In [ ]:
#Detect Null Values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  36 non-null     int64
 1   Date      35 non-null     object
 2   Pulse     36 non-null     int64
 3   Maxpulse  36 non-null     int64
 4   Calories  34 non-null     float64
 5   Gender    31 non-null     object
dtypes: float64(1), int64(3), object(2)
memory usage: 1.8+ KB

In [ ]:
print(df.isnull())

    Duration   Date  Pulse  Maxpulse  Calories  Gender
0      False  False  False     False     False   False
1      False  False  False     False     False   False
2      False  False  False     False     False   False
3      False  False  False     False     False   False
4      False  False  False     False     False    True
5      False  False  False     False     False   False
6      False  False  False     False     False   False
7      False  False  False     False     False   False
8      False  False  False     False     False    True
9      False  False  False     False     False   False
10     False  False  False     False     False   False
11     False  False  False     False     False   False
12     False  False  False     False     False   False
13     False  False  False     False     False   False
14     False  False  False     False     False   False
15     False  False  False     False     False   False
16     False  False  False     False     False   False
17     False  False  False     False     False   False
18     False  False  False     False     False   False
19     False  False  False     False     False   False
20     False  False  False     False      True   False
21     False  False  False     False     False   False
22     False  False  False     False     False   False
23     False  False  False     False     False   False
24     False   True  False     False     False   False
25     False  False  False     False     False    True
26     False  False  False     False     False   False
27     False  False  False     False     False   False
28     False  False  False     False     False   False
29     False  False  False     False     False   False
30     False  False  False     False      True    True
31     False  False  False     False     False   False
32     False  False  False     False     False   False
33     False  False  False     False     False   False
34     False  False  False     False     False   False
35     False  False  False     False     False    True

In [ ]:
print(df.isnull().sum())

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
Gender      5
dtype: int64

In [ ]:
print(df.isna().sum())

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
Gender      5
dtype: int64

In [ ]:
print(df.isna())

    Duration   Date  Pulse  Maxpulse  Calories  Gender
0      False  False  False     False     False   False
1      False  False  False     False     False   False
2      False  False  False     False     False   False
3      False  False  False     False     False   False
4      False  False  False     False     False    True
5      False  False  False     False     False   False
6      False  False  False     False     False   False
7      False  False  False     False     False   False
8      False  False  False     False     False    True
9      False  False  False     False     False   False
10     False  False  False     False     False   False
11     False  False  False     False     False   False
12     False  False  False     False     False   False
13     False  False  False     False     False   False
14     False  False  False     False     False   False
15     False  False  False     False     False   False
16     False  False  False     False     False   False
17     False  False  False     False     False   False
18     False  False  False     False     False   False
19     False  False  False     False     False   False
20     False  False  False     False      True   False
21     False  False  False     False     False   False
22     False  False  False     False     False   False
23     False  False  False     False     False   False
24     False   True  False     False     False   False
25     False  False  False     False     False    True
26     False  False  False     False     False   False
27     False  False  False     False     False   False
28     False  False  False     False     False   False
29     False  False  False     False     False   False
30     False  False  False     False      True    True
31     False  False  False     False     False   False
32     False  False  False     False     False   False
33     False  False  False     False     False   False
34     False  False  False     False     False   False
35     False  False  False     False     False    True

## Treatment of Null Values: Removal, Replacement(Imputaion), KNN(k-nearest neighbour)(advanced)

In [ ]:
# Removal
df.dropna(inplace=True)
print(df.isna().sum())

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    0
Gender      0
dtype: int64

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, 0 to 34
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  29 non-null     int64
 1   Date      29 non-null     object
 2   Pulse     29 non-null     int64
 3   Maxpulse  29 non-null     int64
 4   Calories  29 non-null     float64
 5   Gender    29 non-null     object
dtypes: float64(1), int64(3), object(2)
memory usage: 1.6+ KB
None

In [ ]:
print(df)

    Duration         Date  Pulse  Maxpulse  Calories Gender
0         60  2020/12/01'    110       130     409.1      M
1         60  2020/12/02'    117       145     479.0      F
2         60  2020/12/03'    103       135     340.0      F
3         45  2020/12/04'    109       175     282.4      F
5         60  2020/12/06'    102       127     300.0      M
6         60  2020/12/06'    102       127     300.0      M
7        450  2020/12/08'    104       134     253.3      M
9         60  2020/12/06'    102       127     300.0      M
10        60  2020/12/10'     98       124     269.0      F
11        60  2020/12/11'    103       147     329.3      F
12        60  2020/12/12'    100       120     250.7      M
13        60  2020/12/12'    100       120     250.7      F
14        60  2020/12/13'    106       128     345.3      M
15        60  2020/12/12'    100       120     250.7      F
16        60  2020/12/14'    104       132     379.3      F
17        60  2020/12/15'     98       123     275.0      F
18        60  2020/12/16'     98       120     215.2      M
19        60  2020/12/17'    100       120     300.0      M
21        60  2020/12/19'    103       123     323.0      F
22        45  2020/12/20'     97       125     243.0      F
23        60  2020/12/21'    108       131     364.2      F
26        45  2020/12/24'    105       132     246.0      M
27        60  2020/12/25'    102       126     334.5      M
28        60     20201226    100       120     250.0      M
29        60  2020/12/27'     92       118     241.0      F
31        60  2020/12/29'    100       132     280.0      M
32        60  2020/12/30'    102       129     380.3      F
33        60  2020/12/31'     92       115     243.0      F
34        60  2020/12/30'    102       129     380.3      F

In [ ]:
#Replacement/Imputaion:
df=pd.read_excel('/content/dirtydata.xlsx')
print(df)

    Duration         Date  Pulse  Maxpulse  Calories Gender
0         60  2020/12/01'    110       130     409.1      M
1         60  2020/12/02'    117       145     479.0      F
2         60  2020/12/03'    103       135     340.0      F
3         45  2020/12/04'    109       175     282.4      F
4         45  2020/12/05'    117       148     406.0    NaN
5         60  2020/12/06'    102       127     300.0      M
6         60  2020/12/06'    102       127     300.0      M
7        450  2020/12/08'    104       134     253.3      M
8         30  2020/12/09'    109       133     195.1    NaN
9         60  2020/12/06'    102       127     300.0      M
10        60  2020/12/10'     98       124     269.0      F
11        60  2020/12/11'    103       147     329.3      F
12        60  2020/12/12'    100       120     250.7      M
13        60  2020/12/12'    100       120     250.7      F
14        60  2020/12/13'    106       128     345.3      M
15        60  2020/12/12'    100       120     250.7      F
16        60  2020/12/14'    104       132     379.3      F
17        60  2020/12/15'     98       123     275.0      F
18        60  2020/12/16'     98       120     215.2      M
19        60  2020/12/17'    100       120     300.0      M
20        45  2020/12/18'     90       112       NaN      F
21        60  2020/12/19'    103       123     323.0      F
22        45  2020/12/20'     97       125     243.0      F
23        60  2020/12/21'    108       131     364.2      F
24        45          NaN    100       119     282.0      M
25        60  2020/12/23'    130       101     300.0    NaN
26        45  2020/12/24'    105       132     246.0      M
27        60  2020/12/25'    102       126     334.5      M
28        60     20201226    100       120     250.0      M
29        60  2020/12/27'     92       118     241.0      F
30        60  2020/12/28'    103       132       NaN    NaN
31        60  2020/12/29'    100       132     280.0      M
32        60  2020/12/30'    102       129     380.3      F
33        60  2020/12/31'     92       115     243.0      F
34        60  2020/12/30'    102       129     380.3      F
35        60  2020/12/27'     92       118     241.0    NaN

In [ ]:
print(df.describe())

         Duration       Pulse    Maxpulse    Calories
count   36.000000   36.000000   36.000000   34.000000
mean    67.500000  102.777778  127.694444  301.129412
std     65.970773    7.544577   12.358501   63.683819
min     30.000000   90.000000  101.000000  195.100000
25%     60.000000  100.000000  120.000000  250.700000
50%     60.000000  102.000000  127.000000  291.200000
75%     60.000000  104.250000  132.000000  338.625000
max    450.000000  130.000000  175.000000  479.000000

In [ ]:
df['Calories'].fillna(100,inplace=True)
print(df)
print(df.describe())

    Duration         Date  Pulse  Maxpulse  Calories Gender
0         60  2020/12/01'    110       130     409.1      M
1         60  2020/12/02'    117       145     479.0      F
2         60  2020/12/03'    103       135     340.0      F
3         45  2020/12/04'    109       175     282.4      F
4         45  2020/12/05'    117       148     406.0    NaN
5         60  2020/12/06'    102       127     300.0      M
6         60  2020/12/06'    102       127     300.0      M
7        450  2020/12/08'    104       134     253.3      M
8         30  2020/12/09'    109       133     195.1    NaN
9         60  2020/12/06'    102       127     300.0      M
10        60  2020/12/10'     98       124     269.0      F
11        60  2020/12/11'    103       147     329.3      F
12        60  2020/12/12'    100       120     250.7      M
13        60  2020/12/12'    100       120     250.7      F
14        60  2020/12/13'    106       128     345.3      M
15        60  2020/12/12'    100       120     250.7      F
16        60  2020/12/14'    104       132     379.3      F
17        60  2020/12/15'     98       123     275.0      F
18        60  2020/12/16'     98       120     215.2      M
19        60  2020/12/17'    100       120     300.0      M
20        45  2020/12/18'     90       112     100.0      F
21        60  2020/12/19'    103       123     323.0      F
22        45  2020/12/20'     97       125     243.0      F
23        60  2020/12/21'    108       131     364.2      F
24        45          NaN    100       119     282.0      M
25        60  2020/12/23'    130       101     300.0    NaN
26        45  2020/12/24'    105       132     246.0      M
27        60  2020/12/25'    102       126     334.5      M
28        60     20201226    100       120     250.0      M
29        60  2020/12/27'     92       118     241.0      F
30        60  2020/12/28'    103       132     100.0    NaN
31        60  2020/12/29'    100       132     280.0      M
32        60  2020/12/30'    102       129     380.3      F
33        60  2020/12/31'     92       115     243.0      F
34        60  2020/12/30'    102       129     380.3      F
35        60  2020/12/27'     92       118     241.0    NaN
         Duration       Pulse    Maxpulse    Calories
count   36.000000   36.000000   36.000000   36.000000
mean    67.500000  102.777778  127.694444  289.955556
std     65.970773    7.544577   12.358501   77.505216
min     30.000000   90.000000  101.000000  100.000000
25%     60.000000  100.000000  120.000000  249.000000
50%     60.000000  102.000000  127.000000  282.200000
75%     60.000000  104.250000  132.000000  335.875000
max    450.000000  130.000000  175.000000  479.000000

<ipython-input-19-1d10011e9bca>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Calories'].fillna(100,inplace=True)

In [ ]:
#Trearting null values using central tendency
df=pd.read_excel('/content/dirtydata.xlsx')
print(df.isna().sum())

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
Gender      5
dtype: int64

In [ ]:
print('Before Imputation')
print(df.describe())

Before Imputation
         Duration       Pulse    Maxpulse    Calories
count   36.000000   36.000000   36.000000   34.000000
mean    67.500000  102.777778  127.694444  301.129412
std     65.970773    7.544577   12.358501   63.683819
min     30.000000   90.000000  101.000000  195.100000
25%     60.000000  100.000000  120.000000  250.700000
50%     60.000000  102.000000  127.000000  291.200000
75%     60.000000  104.250000  132.000000  338.625000
max    450.000000  130.000000  175.000000  479.000000

In [ ]:
df['Calories'].fillna(df['Calories'].mean(),inplace=True)
print('After Imputation')
print(df.describe())

After Imputation
         Duration       Pulse    Maxpulse    Calories
count   36.000000   36.000000   36.000000   36.000000
mean    67.500000  102.777778  127.694444  301.129412
std     65.970773    7.544577   12.358501   61.837518
min     30.000000   90.000000  101.000000  195.100000
25%     60.000000  100.000000  120.000000  250.700000
50%     60.000000  102.000000  127.000000  300.000000
75%     60.000000  104.250000  132.000000  335.875000
max    450.000000  130.000000  175.000000  479.000000

<ipython-input-24-882bff9829d3>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Calories'].fillna(df['Calories'].mean(),inplace=True)

In [ ]:
print(df)

    Duration         Date  Pulse  Maxpulse    Calories Gender
0         60  2020/12/01'    110       130  409.100000      M
1         60  2020/12/02'    117       145  479.000000      F
2         60  2020/12/03'    103       135  340.000000      F
3         45  2020/12/04'    109       175  282.400000      F
4         45  2020/12/05'    117       148  406.000000    NaN
5         60  2020/12/06'    102       127  300.000000      M
6         60  2020/12/06'    102       127  300.000000      M
7        450  2020/12/08'    104       134  253.300000      M
8         30  2020/12/09'    109       133  195.100000    NaN
9         60  2020/12/06'    102       127  300.000000      M
10        60  2020/12/10'     98       124  269.000000      F
11        60  2020/12/11'    103       147  329.300000      F
12        60  2020/12/12'    100       120  250.700000      M
13        60  2020/12/12'    100       120  250.700000      F
14        60  2020/12/13'    106       128  345.300000      M
15        60  2020/12/12'    100       120  250.700000      F
16        60  2020/12/14'    104       132  379.300000      F
17        60  2020/12/15'     98       123  275.000000      F
18        60  2020/12/16'     98       120  215.200000      M
19        60  2020/12/17'    100       120  300.000000      M
20        45  2020/12/18'     90       112  301.129412      F
21        60  2020/12/19'    103       123  323.000000      F
22        45  2020/12/20'     97       125  243.000000      F
23        60  2020/12/21'    108       131  364.200000      F
24        45          NaN    100       119  282.000000      M
25        60  2020/12/23'    130       101  300.000000    NaN
26        45  2020/12/24'    105       132  246.000000      M
27        60  2020/12/25'    102       126  334.500000      M
28        60     20201226    100       120  250.000000      M
29        60  2020/12/27'     92       118  241.000000      F
30        60  2020/12/28'    103       132  301.129412    NaN
31        60  2020/12/29'    100       132  280.000000      M
32        60  2020/12/30'    102       129  380.300000      F
33        60  2020/12/31'     92       115  243.000000      F
34        60  2020/12/30'    102       129  380.300000      F
35        60  2020/12/27'     92       118  241.000000    NaN

In [ ]:
print(df.isna().sum())

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    0
Gender      5
dtype: int64

In [ ]:
df['Gender'].value_counts()

Gender
F    17
M    14
Name: count, dtype: int64

In [ ]:
df['Gender'].fillna(df['Gender'].mode()[0],inplace=True)

<ipython-input-30-cb233414b794>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Gender'].fillna(df['Gender'].mode()[0],inplace=True)

In [ ]:
df.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    0
Gender      0
dtype: int64

In [ ]:
df['Gender'].value_counts()

Gender
F    22
M    14
Name: count, dtype: int64

In [ ]:
df.dropna(inplace=True)
print(df.isnull().sum())

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    0
Gender      0
dtype: int64

## **Dealing with Duplicates**

In [ ]:
#Detecting Duplicates
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9      True
10    False
11    False
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34     True
35     True
dtype: bool

In [ ]:
df.duplicated().sum()

5

In [ ]:
print(df)
print(df.shape)

    Duration         Date  Pulse  Maxpulse    Calories Gender
0         60  2020/12/01'    110       130  409.100000      M
1         60  2020/12/02'    117       145  479.000000      F
2         60  2020/12/03'    103       135  340.000000      F
3         45  2020/12/04'    109       175  282.400000      F
4         45  2020/12/05'    117       148  406.000000      F
5         60  2020/12/06'    102       127  300.000000      M
6         60  2020/12/06'    102       127  300.000000      M
7        450  2020/12/08'    104       134  253.300000      M
8         30  2020/12/09'    109       133  195.100000      F
9         60  2020/12/06'    102       127  300.000000      M
10        60  2020/12/10'     98       124  269.000000      F
11        60  2020/12/11'    103       147  329.300000      F
12        60  2020/12/12'    100       120  250.700000      M
13        60  2020/12/12'    100       120  250.700000      F
14        60  2020/12/13'    106       128  345.300000      M
15        60  2020/12/12'    100       120  250.700000      F
16        60  2020/12/14'    104       132  379.300000      F
17        60  2020/12/15'     98       123  275.000000      F
18        60  2020/12/16'     98       120  215.200000      M
19        60  2020/12/17'    100       120  300.000000      M
20        45  2020/12/18'     90       112  301.129412      F
21        60  2020/12/19'    103       123  323.000000      F
22        45  2020/12/20'     97       125  243.000000      F
23        60  2020/12/21'    108       131  364.200000      F
25        60  2020/12/23'    130       101  300.000000      F
26        45  2020/12/24'    105       132  246.000000      M
27        60  2020/12/25'    102       126  334.500000      M
28        60     20201226    100       120  250.000000      M
29        60  2020/12/27'     92       118  241.000000      F
30        60  2020/12/28'    103       132  301.129412      F
31        60  2020/12/29'    100       132  280.000000      M
32        60  2020/12/30'    102       129  380.300000      F
33        60  2020/12/31'     92       115  243.000000      F
34        60  2020/12/30'    102       129  380.300000      F
35        60  2020/12/27'     92       118  241.000000      F
(35, 6)

In [ ]:
#Remove Duplicates
df.drop_duplicates(inplace=True)
print(df.shape)

(30, 6)

## Treating Wrong Format

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, 0 to 33
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  30 non-null     int64
 1   Date      30 non-null     object
 2   Pulse     30 non-null     int64
 3   Maxpulse  30 non-null     int64
 4   Calories  30 non-null     float64
 5   Gender    30 non-null     object
dtypes: float64(1), int64(3), object(2)
memory usage: 1.6+ KB

In [ ]:
df['Date']=pd.to_datetime(df['Date'])
print(df.info())

ValueError: time data "20201226" doesn't match format "%Y/%m/%d'", at position 24. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
df.drop(28,axis=0,inplace=True)
print(df)

    Duration         Date  Pulse  Maxpulse    Calories Gender
0         60  2020/12/01'    110       130  409.100000      M
1         60  2020/12/02'    117       145  479.000000      F
2         60  2020/12/03'    103       135  340.000000      F
3         45  2020/12/04'    109       175  282.400000      F
4         45  2020/12/05'    117       148  406.000000      F
5         60  2020/12/06'    102       127  300.000000      M
7        450  2020/12/08'    104       134  253.300000      M
8         30  2020/12/09'    109       133  195.100000      F
10        60  2020/12/10'     98       124  269.000000      F
11        60  2020/12/11'    103       147  329.300000      F
12        60  2020/12/12'    100       120  250.700000      M
13        60  2020/12/12'    100       120  250.700000      F
14        60  2020/12/13'    106       128  345.300000      M
16        60  2020/12/14'    104       132  379.300000      F
17        60  2020/12/15'     98       123  275.000000      F
18        60  2020/12/16'     98       120  215.200000      M
19        60  2020/12/17'    100       120  300.000000      M
20        45  2020/12/18'     90       112  301.129412      F
21        60  2020/12/19'    103       123  323.000000      F
22        45  2020/12/20'     97       125  243.000000      F
23        60  2020/12/21'    108       131  364.200000      F
25        60  2020/12/23'    130       101  300.000000      F
26        45  2020/12/24'    105       132  246.000000      M
27        60  2020/12/25'    102       126  334.500000      M
29        60  2020/12/27'     92       118  241.000000      F
30        60  2020/12/28'    103       132  301.129412      F
31        60  2020/12/29'    100       132  280.000000      M
32        60  2020/12/30'    102       129  380.300000      F
33        60  2020/12/31'     92       115  243.000000      F

In [ ]:
df['Date']=pd.to_datetime(df['Date'])
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, 0 to 33
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  29 non-null     int64
 1   Date      29 non-null     datetime64[ns]
 2   Pulse     29 non-null     int64
 3   Maxpulse  29 non-null     int64
 4   Calories  29 non-null     float64
 5   Gender    29 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(3), object(1)
memory usage: 1.6+ KB
None

In [ ]:
df.to_excel('cleaneddata.xlsx',index=False)

# Pre-processing

Handing Categorical Values
- get_dummies()
- LabelEncoder()
- OneHotEncoder()

Handling Numerical Values
1. Scaling the data
- StandardScalar: Z-Score
- MinMaxScalar
- RobustScalar

Homework : Z-Transform

Z-Score

sklearn

In [ ]:
loan_df = pd.read_csv('/content/loans.csv')
print(loan_df.head())

   client_id loan_type  loan_amount  repaid  loan_id  loan_start    loan_end  \
0      46109      home        13672       0    10243  16-04-2002  20-12-2003
1      46109    credit         9794       0    10984  21-10-2003  17-07-2005
2      46109      home        12734       1    10990  01-02-2006  05-07-2007
3      46109      cash        12518       1    10596  08-12-2010  05-05-2013
4      46109    credit        14049       1    11415  07-07-2010  21-05-2012

   rate
0  2.15
1  1.25
2  0.68
3  1.24
4  3.13

In [ ]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443 entries, 0 to 442
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   client_id    443 non-null    int64
 1   loan_type    443 non-null    object
 2   loan_amount  443 non-null    int64
 3   repaid       443 non-null    int64
 4   loan_id      443 non-null    int64
 5   loan_start   443 non-null    object
 6   loan_end     443 non-null    object
 7   rate         443 non-null    float64
dtypes: float64(1), int64(4), object(3)
memory usage: 27.8+ KB

In [ ]:
#StandardScalar : Z-Score,MinMax
df_num=loan_df[['loan_amount','rate']]
print(df_num)

     loan_amount  rate
0          13672  2.15
1           9794  1.25
2          12734  0.68
3          12518  1.24
4          14049  3.13
..           ...   ...
438        12963  2.46
439         1728  5.27
440         9329  5.65
441         4197  4.50
442         3643  0.13

[443 rows x 2 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()      #creating standardscalar
df_num_scaled=scaler.fit_transform(df_num)
print(df_num_scaled)

[[ 1.36502962e+00 -4.45676908e-01]
 [ 4.34647423e-01 -8.21544457e-01]
 [ 1.13999132e+00 -1.05959390e+00]
 [ 1.08817014e+00 -8.25720763e-01]
 [ 1.45547678e+00 -3.63989115e-02]
 [-2.51263533e-01 -5.33379336e-01]
 [-4.33117505e-01  2.61555546e+00]
 [ 1.12127812e+00  3.85408004e-01]
 [ 7.38856969e-01  9.45033020e-01]
 [-9.43412224e-01  4.35523677e-01]
 [-1.52688038e+00  1.36683993e+00]
 [ 1.01648330e-01 -1.13476741e+00]
 [ 2.57831622e-01 -9.84420394e-01]
 [-1.06960640e+00  1.15384832e+00]
 [ 6.88715175e-01 -1.65864400e-01]
 [-1.54338725e-01 -8.04839232e-01]
 [ 9.52619355e-01  3.45982920e-02]
 [ 5.00143642e-01 -4.05752176e-02]
 [ 9.66054477e-01 -1.01365454e+00]
 [-1.78094813e+00  3.89584310e-01]
 [ 1.20620728e+00 -5.33379336e-01]
 [-9.91154890e-01 -1.00530192e+00]
 [ 1.04767198e-01 -9.96949312e-01]
 [ 9.15672770e-01  1.37936885e+00]
 [ 5.85312719e-01 -1.32270119e+00]
 [ 1.67667646e+00 -1.28093813e+00]
 [-9.23979280e-01  3.56173861e-01]
 [-8.45527765e-01  1.59887475e-01]
 [ 4.55087135e-02 -7.54723559e-01]
 [ 1.67067864e+00  1.14967202e+00]
 [ 1.35207432e+00 -2.45214216e-01]
 [-2.21034509e-01  4.22994758e-01]
 [ 3.83306064e-01 -6.58668519e-01]
 [ 8.28104565e-01  2.62456798e-02]
 [ 7.19663938e-01  9.28327795e-01]
 [ 8.67210366e-01  4.85639350e-01]
 [ 1.46147460e+00 -8.34073375e-01]
 [ 6.08584269e-01 -8.67483824e-01]
 [ 1.53680725e+00  2.93529270e-01]
 [ 8.91728597e-02 -1.15564894e+00]
 [-1.00051149e+00 -9.21775803e-01]
 [-1.20803614e+00  3.03736237e+00]
 [-1.11566968e+00 -9.76067782e-01]
 [-9.66923688e-01 -1.19323570e+00]
 [ 1.51329578e+00  2.26708372e-01]
 [ 1.10328465e+00 -5.33379336e-01]
 [ 7.16065244e-01 -2.91153583e-01]
 [ 1.53949340e-01 -8.50778599e-01]
 [ 1.53944629e+00 -8.38249681e-01]
 [-7.34208183e-01  1.07449851e+00]
 [-2.58940745e-01 -9.67715170e-01]
 [-8.37610639e-01 -1.65864400e-01]
 [ 4.27929862e-01  2.44850321e+00]
 [ 3.16610281e-01 -6.33610683e-01]
 [-1.69409966e+00 -2.66095747e-01]
 [ 7.60928955e-01  1.36266363e+00]
 [ 1.18797390e+00 -7.17136804e-01]
 [ 7.27820976e-01 -8.96717966e-01]
 [ 6.69522144e-01  1.37519255e+00]
 [-1.72049008e+00 -1.16400156e+00]
 [-1.19004268e+00  2.16033809e+00]
 [ 3.11812023e-01 -2.38699933e-02]
 [ 1.44540043e+00  3.06058188e-01]
 [-4.89257121e-01  1.52136326e+00]
 [-9.95233409e-01 -7.67252477e-01]
 [-2.30870937e-01  5.23226105e-01]
 [ 2.95977772e-01 -7.16476891e-03]
 [-2.39267888e-01 -1.10553327e+00]
 [ 1.46315399e+00 -6.98093603e-02]
 [ 1.58507685e-01 -8.04839232e-01]
 [ 1.04186695e+00  1.21649292e+00]
 [ 8.86883223e-01 -3.66327093e-01]
 [-1.28456836e+00 -3.22226055e-02]
 [ 9.06556080e-01 -9.71891476e-01]
 [-3.52746686e-01  2.52367672e+00]
 [ 8.10158214e-02  9.57561938e-01]
 [-1.52951942e+00 -4.12266460e-01]
 [-6.28646511e-01 -3.07858807e-01]
 [-1.29872322e+00 -9.80244088e-01]
 [ 2.97177336e-01 -9.76067782e-01]
 [ 9.75411080e-01 -1.20576462e+00]
 [ 8.20667265e-01  9.40856714e-01]
 [-1.32079520e+00 -5.83495009e-01]
 [-1.38653133e+00  1.74688379e+00]
 [ 5.85312719e-01  2.59885023e+00]
 [-6.67512399e-01  1.04526437e+00]
 [ 4.70154531e-01 -3.45445562e-01]
 [ 6.83004382e-02 -1.55173811e-02]
 [ 1.42284862e+00 -1.10553327e+00]
 [-1.62428501e+00 -6.41963295e-01]
 [-9.49410046e-01 -9.88596700e-01]
 [-1.25889768e+00 -7.71428784e-01]
 [ 1.11336099e+00  3.64526473e-01]
 [ 4.61277754e-01 -9.67715170e-01]
 [-6.51918061e-01  4.81463044e-01]
 [ 6.36654077e-01  5.73341778e-01]
 [ 8.36021690e-01  5.60812859e-01]
 [-6.03455657e-01 -6.83726356e-01]
 [ 1.37126735e+00 -2.98846282e-03]
 [-3.86574404e-01  1.17055355e+00]
 [ 1.20524763e+00  7.44570327e-01]
 [ 3.88104322e-01 -1.23917507e+00]
 [-9.29497276e-01  2.13945656e+00]
 [ 8.79206011e-01  2.79513662e+00]
 [ 1.58167096e+00 -1.05124129e+00]
 [ 1.10688334e+00 -1.09300435e+00]
 [-1.36949752e+00 -9.25952109e-01]
 [-3.59464247e-01 -8.67483824e-01]
 [-1.45490651e+00 -6.98093603e-02]
 [-1.22770900e+00  1.47358556e-01]
 [-8.44328200e-01 -3.24564032e-01]
 [-1.11111134e+00 -1.07212282e+00]
 [ 5.88671499e-01 -7.83957702e-01]
 [-9.85396980e-01  4.31347371e-01]
 [-1.24858142e+00 -4.12266460e-01]
 [ 1.23139813e+00  7.23688797e-01]
 [ 5.63960471e-01 -1.26423290e+00]
 [-1.69817818e+00 -6.67021131e-01]
 [ 1.20164894e+00  3.18587106e-01]
 [-1.96803307e-01  2.24804052e+00]
 [ 3.78987632e-01  5.14873492e-01]
 [-1.05713093e+00 -1.44982870e-01]
 [ 9.26948676e-01 -1.82569625e-01]
 [-1.06576780e+00  2.45685582e+00]
 [ 2.77984305e-01 -4.83263663e-01]
 [-1.23610595e+00 -1.20994092e+00]
 [ 9.42543014e-01  4.10465840e-01]
 [-6.37523288e-01 -1.61688094e-01]
 [-7.06858113e-01 -2.15980073e-01]
 [ 6.45051029e-01  2.18355760e-01]
 [-1.33495006e+00 -9.38481027e-01]
 [ 1.56895557e+00  2.18355760e-01]
 [-1.71089356e+00 -1.06794652e+00]
 [-5.22605013e-01  3.85408004e-01]
 [-1.50480839e+00 -1.21411723e+00]
 [-1.01442644e+00  3.87745981e-02]
 [-1.61900693e+00  5.69165472e-01]
 [-1.15952662e-01 -2.07627461e-01]
 [ 1.63613118e+00 -2.41037910e-01]
 [-1.72960677e+00  1.84293883e+00]
 [ 2.86141343e-01  8.94917347e-01]
 [ 1.25035125e+00  4.52228901e-01]
 [-1.54487384e+00 -9.48671968e-02]
 [ 4.88147998e-01 -5.54260867e-01]
 [ 1.42433522e-01  1.14549571e+00]
 [-6.66552748e-01 -2.32685298e-01]
 [-4.12484996e-01 -1.06794652e+00]
 [-1.02666200e+00  1.63412352e+00]
 [-1.21163484e+00  1.59887475e-01]
 [-4.64066267e-01 -1.57511788e-01]
 [ 7.11266987e-01 -1.06377021e+00]
 [-8.38090465e-01 -3.95561235e-01]
 [ 9.28867979e-01  1.06196959e+00]
 [ 1.17693791e+00 -8.59131211e-01]
 [-1.29896313e+00 -6.08552846e-01]
 [-3.94971355e-01  7.40394021e-01]
 [-3.64742331e-01 -9.25952109e-01]
 [ 5.03262510e-01  1.11626157e+00]
 [-5.39878741e-01 -6.12729152e-01]
 [ 9.33426324e-01  3.87745981e-02]
 [ 1.62773423e+00 -6.83726356e-01]
 [ 1.27794124e+00 -2.32685298e-01]
 [ 8.09391359e-01 -9.67715170e-01]
 [-6.58875535e-01 -9.84420394e-01]
 [-1.01706548e+00  1.78864685e+00]
 [-3.91132749e-01 -5.37555642e-01]
 [ 3.37482702e-01 -7.58899865e-01]
 [-1.75503754e+00  7.90509694e-01]
 [-9.90914977e-01 -4.66558439e-01]
 [-1.46234381e+00 -1.90922237e-01]
 [-5.86134813e-02  4.48052595e-01]
 [-9.96385857e-02  6.02575920e-01]
 [-3.52506773e-01  2.18121962e+00]
 [-6.55516755e-01  9.57561938e-01]
 [ 6.75999792e-01 -4.20619072e-01]
 [-7.26770883e-01 -1.27676182e+00]
 [-9.86116719e-01 -1.10553327e+00]
 [-1.72096990e+00  1.62577091e+00]
 [ 1.01571645e+00  1.09955635e+00]
 [-1.78809840e-01  1.16220094e+00]
 [-3.50587470e-01  1.23319814e+00]
 [ 1.10592369e+00 -8.29897069e-01]
 [-1.58325991e+00  1.03273545e+00]
 [ 1.62125658e+00 -8.21544457e-01]
 [-5.19246232e-01 -8.34073375e-01]
 [-1.75695684e+00 -7.08784192e-01]
 [-4.06200145e-02 -4.49853215e-01]
 [-1.80682027e-02  6.90278348e-01]
 [-1.24402308e+00  7.98862307e-01]
 [ 1.72902459e-01 -1.08882805e+00]
 [-9.28537625e-01  9.28327795e-01]
 [ 7.39816621e-01 -7.54723559e-01]
 [ 6.83197178e-01  7.36217715e-01]
 [ 1.44516052e+00 -1.70040706e-01]
 [-5.86901668e-01 -1.12641480e+00]
 [-3.99289787e-01  3.20441461e+00]
 [ 7.00470907e-01  1.46707128e+00]
 [-1.63580083e+00 -1.13476741e+00]
 [ 1.26714516e+00 -1.01783084e+00]
 [ 1.94734532e-01 -6.62844825e-01]
 [-6.49518932e-01 -7.38018335e-01]
 [ 1.05434242e+00 -1.13059111e+00]
 [-7.50042434e-01 -8.67483824e-01]
 [ 5.46686743e-01 -1.03453607e+00]
 [ 1.31512773e+00 -4.54029521e-01]
 [ 1.14622906e+00  9.24151489e-01]
 [-1.17540799e+00  1.41695561e+00]
 [-4.40314891e-01  9.54045545e-03]
 [-1.23202743e+00 -7.92310314e-01]
 [-1.57654234e+00 -9.90435029e-02]
 [-1.05209276e+00 -1.99274849e-01]
 [-4.47032452e-01 -3.62150787e-01]
 [ 2.58358564e-02 -1.55173811e-02]
 [ 1.35807214e+00 -8.00662926e-01]
 [-5.27403271e-01 -5.20850418e-01]
 [-4.81819821e-01 -2.95329889e-01]
 [ 1.28278661e-01 -1.07629913e+00]
 [-1.13750175e+00 -1.05541760e+00]
 [ 9.22917273e-02  1.47124759e+00]
 [-1.83081156e-02  1.93297923e-01]
 [ 9.85487421e-01 -8.09015538e-01]
 [ 3.63633207e-01 -3.99737541e-01]
 [-1.22483005e+00 -1.02618346e+00]
 [-1.64251839e+00  9.82619775e-01]
 [ 1.41661089e+00  7.23688797e-01]
 [-9.91154890e-01 -1.18488309e+00]
 [-1.65835264e+00 -9.46833639e-01]
 [-1.36925761e+00  2.47356105e+00]
 [ 1.50537866e+00 -1.20158831e+00]
 [ 3.01015943e-01 -1.33940641e+00]
 [-1.28408853e+00  3.18587106e-01]
 [-7.24131842e-01  3.97936922e-01]
 [-1.49953031e+00 -5.75142397e-01]
 [ 1.39165995e+00 -1.09718066e+00]
 [-4.75582086e-01  1.32090057e+00]
 [ 1.09656709e+00 -9.90435029e-02]
 [-1.34406675e+00  1.54642110e+00]
 [ 1.63181275e+00  7.48746634e-01]
 [ 1.36550944e+00 -4.45676908e-01]
 [ 9.40143885e-01  2.30650881e+00]
 [-8.98068688e-01  2.97705576e-01]
 [-1.50888691e+00 -7.33842029e-01]
 [-1.65134805e-01  6.35986369e-01]
 [ 6.28497039e-01  5.10697186e-01]
 [-1.24858142e+00 -1.23499876e+00]
 [ 5.77442709e-02 -4.28971684e-01]
 [ 1.41061306e+00  1.20814030e+00]
 [ 1.36766866e+00  3.56173861e-01]
 [-8.97588862e-01 -2.57743134e-01]
 [ 1.59318677e+00  1.33760579e+00]
 [-4.72703132e-01  5.90047002e-01]
 [ 6.03786011e-01 -8.00662926e-01]
 [ 1.61237981e+00 -8.46602293e-01]
 [ 2.71746570e-01  3.10234494e-01]
 [-7.83150413e-01 -1.99274849e-01]
 [ 1.64452813e+00 -1.20994092e+00]
 [ 1.24315387e+00 -8.67483824e-01]
 [-1.82168620e-01  7.82157082e-01]
 [ 1.61669824e+00  1.47960020e+00]
 [ 6.12902701e-01  8.88902712e-02]
 [-8.83194088e-01  1.93297923e-01]
 [ 3.38682267e-01  1.21231661e+00]
 [-8.41449245e-01  1.40442669e+00]
 [-2.34469631e-01  2.50697150e+00]
 [-3.22997487e-01 -1.61688094e-01]
 [ 1.56588382e-01  7.32041409e-01]
 [-6.00816615e-01  1.64063781e-01]
 [ 1.46867198e+00  2.39237290e-01]
 [ 5.12859026e-01 -3.32916644e-01]
 [-1.43451391e+00 -8.21544457e-01]
 [ 3.71790246e-01 -1.31434858e+00]
 [-6.95102382e-01 -1.03219809e-01]
 [-4.44633323e-01 -1.90922237e-01]
 [-1.80009404e-01  1.55711169e-01]
 [-2.78613603e-01  3.47821249e-01]
 [-7.32288880e-01  2.62456798e-02]
 [-1.62212579e+00  9.61738244e-01]
 [ 1.10088552e+00  1.40025038e+00]
 [-1.10511351e+00 -1.22246984e+00]
 [ 7.65967126e-01  1.63829983e+00]
 [-8.05462312e-01  8.61506898e-01]
 [-4.19922296e-01  1.50883434e+00]
 [-8.64480883e-01 -5.72804420e-02]
 [ 7.35978014e-01  1.13948108e-01]
 [ 1.03370991e+00 -8.59131211e-01]
 [ 3.99140315e-01 -1.14729633e+00]
 [ 8.79685836e-01 -1.07629913e+00]
 [-7.27730535e-01 -7.25489417e-01]
 [ 7.58050000e-01 -1.22246984e+00]
 [ 5.57242910e-01 -1.30181966e+00]
 [ 9.36545192e-01  2.46103213e+00]
 [ 1.06177972e+00 -9.76067782e-01]
 [ 8.53055505e-01 -1.10553327e+00]
 [-1.02642208e+00 -1.27258551e+00]
 [ 1.48258693e+00  1.66753397e+00]
 [ 9.11834164e-01 -2.41037910e-01]
 [-1.63888124e-02  8.48977980e-01]
 [-7.93466667e-01 -1.86745931e-01]
 [-1.41004280e+00 -1.28277646e-01]
 [ 5.03742336e-01 -1.08047543e+00]
 [ 9.84287857e-01  1.07032220e+00]
 [-9.01187555e-01  1.44201344e+00]
 [-2.22234073e-01 -5.12497806e-01]
 [-3.62103289e-01  8.19743837e-01]
 [-6.78308479e-01  1.01603022e+00]
 [ 3.72270071e-01 -1.96936872e-02]
 [-3.26836094e-01 -1.32270119e+00]
 [-1.40980288e+00 -2.91153583e-01]
 [-1.56790548e+00 -1.18070678e+00]
 [ 1.42212888e+00 -2.86977277e-01]
 [ 1.39309942e+00 -4.95792582e-01]
 [-5.31961616e-01  1.48795281e+00]
 [-2.63259178e-01 -2.70272053e-01]
 [ 1.28489871e+00 -1.33523011e+00]
 [ 9.32946498e-01  3.60350167e-01]
 [ 1.65964265e+00  6.40162675e-01]
 [-5.93619229e-01 -1.00947823e+00]
 [-1.28576792e+00  1.68240087e-01]
 [ 1.07545476e+00 -1.28277646e-01]
 [ 1.88976622e-01  4.06289534e-01]
 [ 1.03874808e+00 -1.07396115e-01]
 [-1.30112235e+00  2.20693737e-02]
 [ 4.58398799e-01  1.14967202e+00]
 [-1.19124224e+00 -1.33105380e+00]
 [ 1.15558566e+00 -8.54954905e-01]
 [-1.68733498e-01  3.68702779e-01]
 [-2.69736826e-01 -9.51009945e-01]
 [-3.40751041e-01 -9.71891476e-01]
 [-8.34011946e-01 -5.45908255e-01]
 [-1.73152607e+00  5.73341778e-01]
 [ 6.70961621e-01  1.05361698e+00]
 [ 1.25639619e-01  2.51114780e+00]
 [-6.52397887e-01 -1.09300435e+00]
 [ 3.83785890e-01 -4.37324296e-01]
 [-1.49041362e+00 -2.41037910e-01]
 [-1.39540811e+00 -6.92078968e-01]
 [-1.21331423e+00 -9.90435029e-02]
 [-1.06168928e+00  3.93760616e-01]
 [ 1.60062407e+00 -3.99737541e-01]
 [ 1.59227424e-01 -5.75142397e-01]
 [ 4.89347562e-01  9.70090856e-01]
 [-1.77850188e-01  1.09120373e+00]
 [-1.47721841e+00 -6.16905458e-01]
 [ 3.77068329e-01 -1.16400156e+00]
 [ 1.23523674e+00 -1.11572421e-01]
 [ 6.65923450e-01 -8.25720763e-01]
 [ 8.98638955e-01  1.07032220e+00]
 [-3.23477313e-01 -7.04607886e-01]
 [ 6.52728241e-01  2.41926907e+00]
 [-1.34190754e+00  2.47589903e-01]
 [-1.07440466e+00 -1.25170398e+00]
 [ 4.38006204e-01 -8.29897069e-01]
 [ 3.89543800e-01 -5.66789785e-01]
 [-9.75800464e-01 -1.20994092e+00]
 [ 1.42404819e+00 -9.67715170e-01]
 [ 2.07210002e-01 -1.36630258e-01]
 [ 9.07035906e-01  9.72428834e-02]
 [ 4.89347562e-01 -1.53335482e-01]
 [ 5.74756552e-01 -3.49621868e-01]
 [ 1.26834472e+00  6.56867900e-01]
 [-1.27929027e+00 -5.12497806e-01]
 [-1.03697825e+00 -2.78624665e-01]
 [ 1.65124569e+00 -2.82800971e-01]
 [-7.87948671e-01  1.37519255e+00]
 [-1.08616039e+00 -3.66327093e-01]
 [ 3.21648451e-01 -1.78393319e-01]
 [-7.69235465e-01 -9.38481027e-01]
 [-1.09503717e+00 -1.08047543e+00]
 [ 3.27886186e-01  4.71272103e-02]
 [ 1.59702538e+00 -2.86977277e-01]
 [ 1.63661101e+00 -1.06794652e+00]
 [-1.30927938e+00 -3.22226055e-02]
 [-1.34022815e+00  2.00163846e+00]
 [ 1.09608726e+00  8.78212122e-01]
 [ 1.95454271e-01 -1.07629913e+00]
 [ 1.52577125e+00 -8.04839232e-01]
 [-5.29322574e-01 -9.25952109e-01]
 [-1.32703294e+00 -1.19741200e+00]
 [ 1.59654556e+00  6.56867900e-01]
 [ 3.29325664e-01 -6.58668519e-01]
 [-8.01143880e-01 -1.18905939e+00]
 [ 3.53796779e-01 -3.53798174e-01]
 [ 1.23499683e+00 -1.15147264e+00]
 [ 6.03546099e-01  3.64526473e-01]
 [-3.32594003e-01 -3.07858807e-01]
 [ 9.97243153e-01  6.40162675e-01]
 [ 5.74516639e-01 -1.03035976e+00]
 [ 2.60710577e-01  1.07867481e+00]
 [-1.25841785e+00  1.23319814e+00]
 [ 7.81368667e-02 -1.20994092e+00]
 [ 3.97940751e-01 -5.58437173e-01]
 [-1.34166762e+00 -7.81619725e-02]
 [ 1.10184517e+00  6.56867900e-01]
 [ 1.24867186e+00 -5.25026724e-01]
 [-1.46421599e-01  6.94454654e-01]
 [ 1.10448422e+00 -4.03913848e-01]
 [ 1.66971899e+00 -5.33379336e-01]
 [-1.67850532e+00 -1.09300435e+00]
 [-6.92703253e-01  7.44570327e-01]
 [ 1.47471692e-01  1.73017856e+00]
 [-1.61037006e+00  2.75754986e+00]
 [ 1.10088552e+00 -9.59362558e-01]
 [-5.33641006e-01 -5.58437173e-01]
 [-4.87770528e-02  2.50697150e+00]
 [ 1.36143092e+00  1.02855914e+00]
 [ 7.77243032e-01  9.99324999e-01]
 [ 1.22348101e+00  3.10234494e-01]
 [ 5.13338851e-01 -9.13423191e-01]
 [-3.16999665e-01 -8.75836436e-01]
 [ 9.09435035e-01  1.24155075e+00]
 [-1.44291086e+00 -1.05124129e+00]
 [-9.36694663e-01 -1.33940641e+00]
 [-5.82583236e-01  5.77518084e-01]
 [ 1.60662190e+00  1.36683993e+00]
 [-1.29800348e+00 -3.91384929e-01]
 [ 1.53229602e-01 -1.55173811e-02]
 [ 1.25682890e+00  3.01881882e-01]
 [ 7.76523293e-01  2.30884678e-01]
 [ 9.50220226e-01  1.26243228e+00]
 [-1.34862510e+00  4.27171065e-01]
 [ 3.15170803e-01  9.30665773e-02]
 [ 3.61521107e-02  3.92691557e+00]
 [-4.63586442e-01  9.72428834e-02]
 [ 1.20740685e+00 -1.20994092e+00]
 [-2.55055023e-02  1.09120373e+00]
 [-1.32463381e+00  3.77055391e-01]
 [ 1.54472437e+00 -1.33940641e+00]
 [ 9.03917038e-01 -1.08047543e+00]
 [-4.73182957e-01 -2.41037910e-01]
 [ 8.50943405e-02 -8.29897069e-01]
 [ 3.03894897e-01 -1.49159176e-01]
 [ 2.19925385e-01  3.18587106e-01]
 [-1.58709851e+00  1.22300720e-01]
 [ 1.68584027e-01 -1.90922237e-01]
 [-1.07296519e+00 -1.13410750e-02]
 [-1.75839632e+00 -1.11572421e-01]
 [ 1.37798491e+00 -8.42425987e-01]
 [ 1.58598939e+00 -1.13476741e+00]
 [ 1.19493138e+00 -3.16211420e-01]
 [-1.50048996e+00  8.57330592e-01]
 [ 3.23087929e-01  1.01603022e+00]
 [-9.08145029e-01  5.35755023e-01]
 [-1.04105677e+00 -1.28929074e+00]]

In [ ]:
df_num.describe()

        loan_amount        rate
count    443.000000  443.000000
mean    7982.311512    3.217156
std     4172.891992    2.397168
min      559.000000    0.010000
25%     4232.500000    1.220000
50%     8320.000000    2.780000
75%    11739.000000    4.750000
max    14971.000000   12.620000

In [ ]:
mean = 7982.311512
std = 4172.891992
z=(13672-mean)/std
print(z)

1.3634880794681254

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
df_num_scaled=scaler.fit_transform(df_num)
print(df_num_scaled)

[[9.09866778e-01 1.69706582e-01]
 [6.40785457e-01 9.83346550e-02]
 [8.44782126e-01 5.31324346e-02]
 [8.29794616e-01 9.75416336e-02]
 [9.36025534e-01 2.47422680e-01]
 [4.42409104e-01 1.53053132e-01]
 [3.89814044e-01 7.50991277e-01]
 [8.39369969e-01 3.27517843e-01]
 [7.28767694e-01 4.33782712e-01]
 [2.42228698e-01 3.37034100e-01]
 [7.34804330e-02 5.13877875e-01]
 [5.44476825e-01 3.88580492e-02]
 [5.89647516e-01 6.74068200e-02]
 [2.05731335e-01 4.73433783e-01]
 [7.14265890e-01 2.22839017e-01]
 [4.70441299e-01 1.01506741e-01]
 [7.90591174e-01 2.60904044e-01]
 [6.59728004e-01 2.46629659e-01]
 [7.94476825e-01 6.18556701e-02]
 [0.00000000e+00 3.28310864e-01]
 [8.63932834e-01 1.53053132e-01]
 [2.28420760e-01 6.34417129e-02]
 [5.45378851e-01 6.50277557e-02]
 [7.79905634e-01 5.16256939e-01]
 [6.84360255e-01 3.17208565e-03]
 [1.00000000e+00 1.11022998e-02]
 [2.47849015e-01 3.21966693e-01]
 [2.70538440e-01 2.84694687e-01]
 [5.28240355e-01 1.11022998e-01]
 [9.98265334e-01 4.72640761e-01]
 [9.06119900e-01 2.07771610e-01]
 [4.51151818e-01 3.34655036e-01]
 [6.25936719e-01 1.29262490e-01]
 [7.54579517e-01 2.59318002e-01]
 [7.23216764e-01 4.30610626e-01]
 [7.65889536e-01 3.46550357e-01]
 [9.37760200e-01 9.59555908e-02]
 [6.91090758e-01 8.96114195e-02]
 [9.59547599e-01 3.10071372e-01]
 [5.40868721e-01 3.48929421e-02]
 [2.25714682e-01 7.93021412e-02]
 [1.65695254e-01 8.31086439e-01]
 [1.92409104e-01 6.89928628e-02]
 [2.35428809e-01 2.77557494e-02]
 [9.52747710e-01 2.97383029e-01]
 [8.34165973e-01 1.53053132e-01]
 [7.22175964e-01 1.99048374e-01]
 [5.59603109e-01 9.27835052e-02]
 [9.60310852e-01 9.51625694e-02]
 [3.02733833e-01 4.58366376e-01]
 [4.40188732e-01 7.05789056e-02]
 [2.72828199e-01 2.22839017e-01]
 [6.38842631e-01 7.19270420e-01]
 [6.06647238e-01 1.34020619e-01]
 [2.51179573e-02 2.03806503e-01]
 [7.35151263e-01 5.13084853e-01]
 [8.58659450e-01 1.18160190e-01]
 [7.25575909e-01 8.40602696e-02]
 [7.08714960e-01 5.15463918e-01]
 [1.74854288e-02 3.33068993e-02]
 [1.70899251e-01 6.64551943e-01]
 [6.05259506e-01 2.49801745e-01]
 [9.33111296e-01 3.12450436e-01]
 [3.73577574e-01 5.43219667e-01]
 [2.27241188e-01 1.08643933e-01]
 [4.48306966e-01 3.53687550e-01]
 [6.00679989e-01 2.52973830e-01]
 [4.45878435e-01 4.44091990e-02]
 [9.38245906e-01 2.41078509e-01]
 [5.60921454e-01 1.01506741e-01]
 [8.16402998e-01 4.85329104e-01]
 [7.71579240e-01 1.84773989e-01]
 [1.43560921e-01 2.48215702e-01]
 [7.77268943e-01 6.97858842e-02]
 [4.13058562e-01 7.33544806e-01]
 [5.38509575e-01 4.36161776e-01]
 [7.27171801e-02 1.76050753e-01]
 [3.33263947e-01 1.95876289e-01]
 [1.39467111e-01 6.81998414e-02]
 [6.01026922e-01 6.89928628e-02]
 [7.97182903e-01 2.53766852e-02]
 [7.52428532e-01 4.32989691e-01]
 [1.33083541e-01 1.43536875e-01]
 [1.14071607e-01 5.86042823e-01]
 [6.84360255e-01 7.47819191e-01]
 [3.22023314e-01 4.52815226e-01]
 [6.51054677e-01 1.88739096e-01]
 [5.34832084e-01 2.51387787e-01]
 [9.26588954e-01 4.44091990e-02]
 [4.53094643e-02 1.32434576e-01]
 [2.40494033e-01 6.66137986e-02]
 [1.50985290e-01 1.07850912e-01]
 [8.37080211e-01 3.23552736e-01]
 [6.48487372e-01 7.05789056e-02]
 [3.26533444e-01 3.45757335e-01]
 [6.99208993e-01 3.63203807e-01]
 [7.56869276e-01 3.60824742e-01]
 [3.40549542e-01 1.24504362e-01]
 [9.11670830e-01 2.53766852e-01]
 [4.03275049e-01 4.76605868e-01]
 [8.63655287e-01 3.95717684e-01]
 [6.27324452e-01 1.90325139e-02]
 [2.46253122e-01 6.60586836e-01]
 [7.69358868e-01 7.85091197e-01]
 [9.72522898e-01 5.47184774e-02]
 [8.35206772e-01 4.67882633e-02]
 [1.18998057e-01 7.85091197e-02]
 [4.11115737e-01 8.96114195e-02]
 [9.42964197e-02 2.41078509e-01]
 [1.60005551e-01 2.82315623e-01]
 [2.70885373e-01 1.92704203e-01]
 [1.93727449e-01 5.07533703e-02]
 [6.85331668e-01 1.05471848e-01]
 [2.30086039e-01 3.36241079e-01]
 [1.53968915e-01 1.76050753e-01]
 [8.71218429e-01 3.91752577e-01]
 [6.78184846e-01 1.42743854e-02]
 [2.39383847e-02 1.27676447e-01]
 [8.62614488e-01 3.14829500e-01]
 [4.58159867e-01 6.81205393e-01]
 [6.24687760e-01 3.52101507e-01]
 [2.09339439e-01 2.26804124e-01]
 [7.83166805e-01 2.19666931e-01]
 [2.06841521e-01 7.20856463e-01]
 [5.95475992e-01 1.62569389e-01]
 [1.57577019e-01 2.45836638e-02]
 [7.87676936e-01 3.32275971e-01]
 [3.30696642e-01 2.23632038e-01]
 [3.10643908e-01 2.13322760e-01]
 [7.01637524e-01 2.95796987e-01]
 [1.28989731e-01 7.61300555e-02]
 [9.68845407e-01 2.95796987e-01]
 [2.02608937e-02 5.15463918e-02]
 [3.63932834e-01 3.27517843e-01]
 [7.98640022e-02 2.37906423e-02]
 [2.21690258e-01 2.61697066e-01]
 [4.68359700e-02 3.62410785e-01]
 [4.81543158e-01 2.14908803e-01]
 [9.88273661e-01 2.08564631e-01]
 [1.48487372e-02 6.04282316e-01]
 [5.97835137e-01 4.24266455e-01]
 [8.76699972e-01 3.40206186e-01]
 [6.82764363e-02 2.36320381e-01]
 [6.56258673e-01 1.49088025e-01]
 [5.56272551e-01 4.71847740e-01]
 [3.22300860e-01 2.10150674e-01]
 [3.95781293e-01 5.15463918e-02]
 [2.18151540e-01 5.64631245e-01]
 [1.64654455e-01 2.84694687e-01]
 [3.80863170e-01 2.24425059e-01]
 [7.20788232e-01 5.23394132e-02]
 [2.72689425e-01 1.79222839e-01]
 [7.83721898e-01 4.55987312e-01]
 [8.55467666e-01 9.11974623e-02]
 [1.39397724e-01 1.38778747e-01]
 [4.00846517e-01 3.94924663e-01]
 [4.09589231e-01 7.85091197e-02]
 [6.60630031e-01 4.66296590e-01]
 [3.58936997e-01 1.37985726e-01]
 [7.85040244e-01 2.61697066e-01]
 [9.85845129e-01 1.24504362e-01]
 [8.84679434e-01 2.10150674e-01]
 [7.49167361e-01 7.05789056e-02]
 [3.24521232e-01 6.74068200e-02]
 [2.20927005e-01 5.93973037e-01]
 [4.01956703e-01 1.52260111e-01]
 [6.12683875e-01 1.10229976e-01]
 [7.49375520e-03 4.04440920e-01]
 [2.28490147e-01 1.65741475e-01]
 [9.21454344e-02 2.18080888e-01]
 [4.98126561e-01 3.39413164e-01]
 [4.86261449e-01 3.68754956e-01]
 [4.13127949e-01 6.68517050e-01]
 [3.25492645e-01 4.36161776e-01]
 [7.10588399e-01 1.74464711e-01]
 [3.04884818e-01 1.18953212e-02]
 [2.29877880e-01 4.44091990e-02]
 [1.73466556e-02 5.63045202e-01]
 [8.08839856e-01 4.63124504e-01]
 [4.63363863e-01 4.75019826e-01]
 [4.13683042e-01 4.88501190e-01]
 [8.34929226e-01 9.67486122e-02]
 [5.71745767e-02 4.50436162e-01]
 [9.83971690e-01 9.83346550e-02]
 [3.64904246e-01 9.59555908e-02]
 [6.93866223e-03 1.19746233e-01]
 [5.03330558e-01 1.68913561e-01]
 [5.09852900e-01 3.85408406e-01]
 [1.55287261e-01 4.06026963e-01]
 [5.65084652e-01 4.75812847e-02]
 [2.46530669e-01 4.30610626e-01]
 [7.29045240e-01 1.11022998e-01]
 [7.12669997e-01 3.94131642e-01]
 [9.33041910e-01 2.22045995e-01]
 [3.45337219e-01 4.04440920e-02]
 [3.99597558e-01 8.62807296e-01]
 [7.17665834e-01 5.32910389e-01]
 [4.19789065e-02 3.88580492e-02]
 [8.81557036e-01 6.10626487e-02]
 [5.71398834e-01 1.28469469e-01]
 [3.27227311e-01 1.14195083e-01]
 [8.20011102e-01 3.96510706e-02]
 [2.98154316e-01 8.96114195e-02]
 [6.73189009e-01 5.78905630e-02]
 [8.95434360e-01 1.68120539e-01]
 [8.46586178e-01 4.29817605e-01]
 [1.75131835e-01 5.23394132e-01]
 [3.87732445e-01 2.56145916e-01]
 [1.58756592e-01 1.03885805e-01]
 [5.91174022e-02 2.35527359e-01]
 [2.10796558e-01 2.16494845e-01]
 [3.85789620e-01 1.85567010e-01]
 [5.22550652e-01 2.51387787e-01]
 [9.07854566e-01 1.02299762e-01]
 [3.62545101e-01 1.55432197e-01]
 [3.75728560e-01 1.98255353e-01]
 [5.52178740e-01 4.99603489e-02]
 [1.86094921e-01 5.39254560e-02]
 [5.41770747e-01 5.33703410e-01]
 [5.09783514e-01 2.91038858e-01]
 [8.00097141e-01 1.00713719e-01]
 [6.20247016e-01 1.78429818e-01]
 [1.60838190e-01 5.94766059e-02]
 [4.00360810e-02 4.40919905e-01]
 [9.24784901e-01 3.91752577e-01]
 [2.28420760e-01 2.93417922e-02]
 [3.54565640e-02 7.45440127e-02]
 [1.19067444e-01 7.24028549e-01]
 [9.50457952e-01 2.61697066e-02]
 [6.02137108e-01 0.00000000e+00]
 [1.43699695e-01 3.14829500e-01]
 [3.05648071e-01 3.29896907e-01]
 [8.13905079e-02 1.45122918e-01]
 [9.17568693e-01 4.59952419e-02]
 [3.77532612e-01 5.05154639e-01]
 [8.32223147e-01 2.35527359e-01]
 [1.26353039e-01 5.47977795e-01]
 [9.87024702e-01 3.96510706e-01]
 [9.10005551e-01 1.69706582e-01]
 [7.86983070e-01 6.92307692e-01]
 [2.55342770e-01 3.10864393e-01]
 [7.86844296e-02 1.14988105e-01]
 [4.67318901e-01 3.75099128e-01]
 [6.96849847e-01 3.51308485e-01]
 [1.53968915e-01 1.98255353e-02]
 [5.31779073e-01 1.72878668e-01]
 [9.23050236e-01 4.83743061e-01]
 [9.10630031e-01 3.21966693e-01]
 [2.55481543e-01 2.05392546e-01]
 [9.75853455e-01 5.08326725e-01]
 [3.78365251e-01 3.66375892e-01]
 [6.89703025e-01 1.02299762e-01]
 [9.81404385e-01 9.35765266e-02]
 [5.93671940e-01 3.13243458e-01]
 [2.88578962e-01 2.16494845e-01]
 [9.90702193e-01 2.45836638e-02]
 [8.74618374e-01 8.96114195e-02]
 [4.62392451e-01 4.02854877e-01]
 [9.82653344e-01 5.35289453e-01]
 [6.92339717e-01 2.71213323e-01]
 [2.59644740e-01 2.91038858e-01]
 [6.13030808e-01 4.84536082e-01]
 [2.71718013e-01 5.21015067e-01]
 [4.47266167e-01 7.30372720e-01]
 [4.21662503e-01 2.23632038e-01]
 [5.60366361e-01 3.93338620e-01]
 [3.41312795e-01 2.85487708e-01]
 [9.39841799e-01 2.99762094e-01]
 [6.63405495e-01 1.91118160e-01]
 [1.00194283e-01 9.83346550e-02]
 [6.22606162e-01 4.75812847e-03]
 [3.14043852e-01 2.34734338e-01]
 [3.86483486e-01 2.18080888e-01]
 [4.63016930e-01 2.83901665e-01]
 [4.34499029e-01 3.20380650e-01]
 [3.03288926e-01 2.59318002e-01]
 [4.59339439e-02 4.36954798e-01]
 [8.33472107e-01 5.20222046e-01]
 [1.95462115e-01 2.22045995e-02]
 [7.36608382e-01 5.65424266e-01]
 [2.82126006e-01 4.17922284e-01]
 [3.93630308e-01 5.40840603e-01]
 [2.65056897e-01 2.43457573e-01]
 [7.27935054e-01 2.75971451e-01]
 [8.14043852e-01 9.11974623e-02]
 [6.30516236e-01 3.64789849e-02]
 [7.69497641e-01 4.99603489e-02]
 [3.04607272e-01 1.16574148e-01]
 [7.34318623e-01 2.22045995e-02]
 [6.76242021e-01 7.13719270e-03]
 [7.85942270e-01 7.21649485e-01]
 [8.22162087e-01 6.89928628e-02]
 [7.61795726e-01 4.44091990e-02]
 [2.18220927e-01 1.26883426e-02]
 [9.43866223e-01 5.70975416e-01]
 [7.78795448e-01 2.08564631e-01]
 [5.10338607e-01 4.15543220e-01]
 [2.85595337e-01 2.18873910e-01]
 [1.07271718e-01 2.29976209e-01]
 [6.60768804e-01 4.91673275e-02]
 [7.99750208e-01 4.57573354e-01]
 [2.54440744e-01 5.28152260e-01]
 [4.50804885e-01 1.57018239e-01]
 [4.10352484e-01 4.09992070e-01]
 [3.18900916e-01 4.47264076e-01]
 [6.22744935e-01 2.50594766e-01]
 [4.20552318e-01 3.17208565e-03]
 [1.07341105e-01 1.99048374e-01]
 [6.16153206e-02 3.01348136e-02]
 [9.26380794e-01 1.99841396e-01]
 [9.17985012e-01 1.60190325e-01]
 [3.61226755e-01 5.36875496e-01]
 [4.38939772e-01 2.03013481e-01]
 [8.86691646e-01 7.93021412e-04]
 [7.84901471e-01 3.22759715e-01]
 [9.95073550e-01 3.75892149e-01]
 [3.43394394e-01 6.26486915e-02]
 [1.43213988e-01 2.86280730e-01]
 [8.26117125e-01 2.29976209e-01]
 [5.69733555e-01 3.31482950e-01]
 [8.15500971e-01 2.33941316e-01]
 [1.38773245e-01 2.58524980e-01]
 [6.47654732e-01 4.72640761e-01]
 [1.70552318e-01 1.58604282e-03]
 [8.49292256e-01 9.19904837e-02]
 [4.66278102e-01 3.24345757e-01]
 [4.37066334e-01 7.37509913e-02]
 [4.16527893e-01 6.97858842e-02]
 [2.73868998e-01 1.50674068e-01]
 [1.42936442e-02 3.63203807e-01]
 [7.09131279e-01 4.54401269e-01]
 [5.51415487e-01 7.31165741e-01]
 [3.26394671e-01 4.67882633e-02]
 [6.26075493e-01 1.71292625e-01]
 [8.40271996e-02 2.08564631e-01]
 [1.11504302e-01 1.22918319e-01]
 [1.64168748e-01 2.35527359e-01]
 [2.08021094e-01 3.29103886e-01]
 [9.78004441e-01 1.78429818e-01]
 [5.61129614e-01 1.45122918e-01]
 [6.56605606e-01 4.38540841e-01]
 [4.63641410e-01 4.61538462e-01]
 [8.78434638e-02 1.37192704e-01]
 [6.24132667e-01 3.33068993e-02]
 [8.72328615e-01 2.33148295e-01]
 [7.07674160e-01 9.75416336e-02]
 [7.74979184e-01 4.57573354e-01]
 [4.21523730e-01 1.20539255e-01]
 [7.03857896e-01 7.13719270e-01]
 [1.26977519e-01 3.01348136e-01]
 [2.04343603e-01 1.66534496e-02]
 [6.41756869e-01 9.67486122e-02]
 [6.27740772e-01 1.46708961e-01]
 [2.32861504e-01 2.45836638e-02]
 [9.26935887e-01 7.05789056e-02]
 [5.75006939e-01 2.28390167e-01]
 [7.77407716e-01 2.72799366e-01]
 [6.56605606e-01 2.25218081e-01]
 [6.81307244e-01 1.87946075e-01]
 [8.81903969e-01 3.79064235e-01]
 [1.45087427e-01 1.57018239e-01]
 [2.15167916e-01 2.01427439e-01]
 [9.92645018e-01 2.00634417e-01]
 [2.87191230e-01 5.15463918e-01]
 [2.00943658e-01 1.84773989e-01]
 [6.08104357e-01 2.20459952e-01]
 [2.92603386e-01 7.61300555e-02]
 [1.98376353e-01 4.91673275e-02]
 [6.09908410e-01 2.63283109e-01]
 [9.76963641e-01 1.99841396e-01]
 [9.88412434e-01 5.15463918e-02]
 [1.36414099e-01 2.48215702e-01]
 [1.27463225e-01 6.34417129e-01]
 [8.32084374e-01 4.21094370e-01]
 [5.71606994e-01 4.99603489e-02]
 [9.56355815e-01 1.01506741e-01]
 [3.61990008e-01 7.85091197e-02]
 [1.31279489e-01 2.69627280e-02]
 [9.76824868e-01 3.79064235e-01]
 [6.10324729e-01 1.29262490e-01]
 [2.83374965e-01 2.85487708e-02]
 [6.17402165e-01 1.87153053e-01]
 [8.72259228e-01 3.56859635e-02]
 [6.89633639e-01 3.23552736e-01]
 [4.18887039e-01 1.95876289e-01]
 [8.03497086e-01 3.75892149e-01]
 [6.81237857e-01 5.86835845e-02]
 [5.90480155e-01 4.59159397e-01]
 [1.51124063e-01 4.88501190e-01]
 [5.37676936e-01 2.45836638e-02]
 [6.30169303e-01 1.48295004e-01]
 [1.27046905e-01 2.39492466e-01]
 [8.33749653e-01 3.79064235e-01]
 [8.76214266e-01 1.54639175e-01]
 [4.72731057e-01 3.86201427e-01]
 [8.34512906e-01 1.77636796e-01]
 [9.97987788e-01 1.53053132e-01]
 [2.96280877e-02 4.67882633e-02]
 [3.14737719e-01 3.95717684e-01]
 [5.57729670e-01 5.82870738e-01]
 [4.93338884e-02 7.77954005e-01]
 [8.33472107e-01 7.21649485e-02]
 [3.60741049e-01 1.48295004e-01]
 [5.00971413e-01 7.30372720e-01]
 [9.08825978e-01 4.49643140e-01]
 [7.39869553e-01 4.44091990e-01]
 [8.68928671e-01 3.13243458e-01]
 [6.63544269e-01 8.08881840e-02]
 [4.23397169e-01 8.80253767e-02]
 [7.78101582e-01 4.90087232e-01]
 [9.77657508e-02 5.47184774e-02]
 [2.44171524e-01 0.00000000e+00]
 [3.46586178e-01 3.63996828e-01]
 [9.79739106e-01 5.13877875e-01]
 [1.39675271e-01 1.80015860e-01]
 [5.59394949e-01 2.51387787e-01]
 [8.78573411e-01 3.11657415e-01]
 [7.39661393e-01 2.98176051e-01]
 [7.89897308e-01 4.94052339e-01]
 [1.25034693e-01 3.35448057e-01]
 [6.06230919e-01 2.72006344e-01]
 [5.25534277e-01 1.00000000e+00]
 [3.81001943e-01 2.72799366e-01]
 [8.64279767e-01 2.45836638e-02]
 [5.07701915e-01 4.61538462e-01]
 [1.31973356e-01 3.25931800e-01]
 [9.61837358e-01 0.00000000e+00]
 [7.76505690e-01 4.91673275e-02]
 [3.78226478e-01 2.08564631e-01]
 [5.39689148e-01 9.67486122e-02]
 [6.02969747e-01 2.26011102e-01]
 [5.78684430e-01 3.14829500e-01]
 [5.60643908e-02 2.77557494e-01]
 [5.63835692e-01 2.18080888e-01]
 [2.04759922e-01 2.52180809e-01]
 [6.52234249e-03 2.33148295e-01]
 [9.13613655e-01 9.43695480e-02]
 [9.73771857e-01 3.88580492e-02]
 [8.60671663e-01 1.94290246e-01]
 [8.11129614e-02 4.17129262e-01]
 [6.08520677e-01 4.47264076e-01]
 [2.52428532e-01 3.56066614e-01]
 [2.13988343e-01 9.51625694e-03]]

In [ ]:
print(round(6.83197178e-01,3))
print(round(9.09866778e+01,3))

0.683
90.987

Encoding the Categorical Features: get_dummies() and LabelEncoder()

In [ ]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443 entries, 0 to 442
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   client_id    443 non-null    int64
 1   loan_type    443 non-null    object
 2   loan_amount  443 non-null    int64
 3   repaid       443 non-null    int64
 4   loan_id      443 non-null    int64
 5   loan_start   443 non-null    object
 6   loan_end     443 non-null    object
 7   rate         443 non-null    float64
dtypes: float64(1), int64(4), object(3)
memory usage: 27.8+ KB

In [ ]:
print(loan_df['loan_type'].value_counts())

loan_type
home      121
cash      108
credit    107
other     107
Name: count, dtype: int64

In [ ]:
loan_df_cat=pd.get_dummies(loan_df['loan_type'])
print(loan_df_cat)

      cash  credit   home  other
0    False   False   True  False
1    False    True  False  False
2    False   False   True  False
3     True   False  False  False
4    False    True  False  False
..     ...     ...    ...    ...
438  False   False  False   True
439  False    True  False  False
440  False   False  False   True
441  False   False   True  False
442  False   False   True  False

[443 rows x 4 columns]

In [ ]:
print(loan_df)

     client_id loan_type  loan_amount  repaid  loan_id  loan_start  \
0        46109      home        13672       0    10243  16-04-2002
1        46109    credit         9794       0    10984  21-10-2003
2        46109      home        12734       1    10990  01-02-2006
3        46109      cash        12518       1    10596  08-12-2010
4        46109    credit        14049       1    11415  07-07-2010
..         ...       ...          ...     ...      ...         ...
438      26945     other        12963       0    10330  26-11-2001
439      26945    credit         1728       1    10248  27-01-2004
440      26945     other         9329       0    10154  17-12-2001
441      26945      home         4197       0    10333  16-10-2003
442      26945      home         3643       0    11434  24-03-2010

       loan_end  rate
0    20-12-2003  2.15
1    17-07-2005  1.25
2    05-07-2007  0.68
3    05-05-2013  1.24
4    21-05-2012  3.13
..          ...   ...
438  11-06-2004  2.46
439  21-06-2005  5.27
440  22-07-2004  5.65
441  10-07-2005  4.50
442  22-12-2011  0.13

[443 rows x 8 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
loan_df['loan_type']=le.fit_transform(loan_df['loan_type'])
print(loan_df)

     client_id  loan_type  loan_amount  repaid  loan_id  loan_start  \
0        46109          2        13672       0    10243  16-04-2002
1        46109          1         9794       0    10984  21-10-2003
2        46109          2        12734       1    10990  01-02-2006
3        46109          0        12518       1    10596  08-12-2010
4        46109          1        14049       1    11415  07-07-2010
..         ...        ...          ...     ...      ...         ...
438      26945          3        12963       0    10330  26-11-2001
439      26945          1         1728       1    10248  27-01-2004
440      26945          3         9329       0    10154  17-12-2001
441      26945          2         4197       0    10333  16-10-2003
442      26945          2         3643       0    11434  24-03-2010

       loan_end  rate
0    20-12-2003  2.15
1    17-07-2005  1.25
2    05-07-2007  0.68
3    05-05-2013  1.24
4    21-05-2012  3.13
..          ...   ...
438  11-06-2004  2.46
439  21-06-2005  5.27
440  22-07-2004  5.65
441  10-07-2005  4.50
442  22-12-2011  0.13

[443 rows x 8 columns]

In [ ]:
print(loan_df['loan_type'].value_counts())

loan_type
2    121
0    108
1    107
3    107
Name: count, dtype: int64

LabelEncoder is vectorization in GenAI